<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product | RichfieldChairs</title>
    <link rel="stylesheet" href="/libs/Bootstrap3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/Bootstrap3.3.7/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/libs/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/libs/owl.carousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/css/Allproduct.css">
    <link rel="stylesheet" href="/font/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="libs/Bootstrap3.3.7/js/bootstrap.min.js"></script>
    <script src="libs/owl.carousel/owl-carousel/owl.carousel.js"></script>
    <script src="/libs/jquery.zoom.min.js"></script>
</head>
<body>
<%- include('navbar')%>
<section class="section">
    <div class="container">
        <div class="image-string">
            <div class="item col-sm-3 col-md-3 col-lg-3" >
                <a href="#">
                    <img src="imgs/sofax.jpg" alt="The Last of us">
                    <div class="bg"></div>
                    <div>
                        <p id="text1">SoFa</p>
                        <p class="text2">2 products</p>
                    </div>
                </a>
            </div>
            <div class="item col-sm-3 col-md-3 col-lg-3">
                <a href="#">
                    <img src="imgs/diningx.png" alt="The Last of us">
                    <div class="bg"></div>
                    <p class="text">Dining Chair</p>
                    <p class="text2">2 products</p>
                </a>
            </div>
            <div class="item col-sm-3 col-md-3 col-lg-3">
                <a href="#">
                    <img src="imgs/meetingx.jpg" alt="The Last of us">
                    <div class="bg"></div>
                    <p class="text">Meeting Chair</p>
                    <p class="text2">2 products</p>
                </a>
            </div>
            <div class="item col-sm-3 col-md-3 col-lg-3">
                <a href="#">
                    <img src="imgs/sofadonx.jpg" alt="The Last of us">
                    <div class="bg"></div>
                    <p id="text3">Solid Sofa</p>
                    <p class="text2">2 products</p>
                </a>
            </div>
        </div>
        <div id="heading">
            <h1 class="heading-title">Shop</h1>
        </div>
        <div class="product">
            <div class="nav-bar">
                <div id="myNavbar">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dining Chair</a></li>
                                <li><a href="#">Sofa</a></li>
                                <li><a href="#">Meeting Chair</a></li>
                                <li><a href="#">Living Room</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Brand
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cosm</a></li>
                                <li><a href="#">Amia</a></li>
                                <li><a href="#">Liberty</a></li>
                                <li><a href="#">Mirra 5</a></li>
                                <li><a href="#">Leap</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button class=" btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Sort by Price
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">From Low To High</a></li>
                                <li><a href="#">From High To Low</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="all-products">
                    <div class="row" id="product-item">
                        <% sanphams.map(e => { %>
                            <div class="product-type col-sm-3 col-md-3 col-lg-3">
                                <div class="img">
                                    <img src="<%= e.Photo %>" alt="Fadeout">
                                </div>
                                <div class="wrapper">
                                    <h3 class="product-name"><a href="/product-detail/<%= e.ID %>"><%= e.Name %></a></h3>
                                    <span>$</span>
                                    <%= e.Price %>
                                </div>
                            </div>
                        <% })%>
                    </div>
                    <div class="btn_loadmore">
                        <p>You're viewed <span id="total_products_view">12</span> of <%= totalProducts.total %> products</p>
                        <div id="btnloadmore"><p>LOAD MORE</p></div>
                    </div>
                </div>
            <div id="myNavbar">
                <ul>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dining Chair</a></li>
                            <li><a href="#">Sofa</a></li>
                            <li><a href="#">Meeting Chair</a></li>
                            <li><a href="#">Living Room</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Brand
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Cosm</a></li>
                            <li><a href="#">Amia</a></li>
                            <li><a href="#">Liberty</a></li>
                            <li><a href="#">Mirra 5</a></li>
                            <li><a href="#">Leap</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class=" btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Sort by Price
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">From Low To High</a></li>
                            <li><a href="#">From High To Low</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include('footer') %>
<script type="text/javascript">
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation :false,// Show next and prev buttons
            paginationSpeed : 200,
            autoPlay:true,
            items : 4,
            itemsDesktop :[1000,5],
            itemsDesktopSmall :[979,3],
            itemsTablet:[768,2],
            itemsMobile :[479,1],
            pagination: false,
        });
    });

    $(document).ready(() => {
        let page = 1;
        $('#btnloadmore').on('click', () => {
            page = page + 1;
            $.ajax({
                url: `/product/page?page=${page}`,
                type: 'GET',
                success: (data) => {
                    console.log(data);
                    data.map(e => {
                        let product_item_html = `<div class="product-type col-sm-3 col-md-3 col-lg-3">
                                                    <div class="img">
                                                        <img src="${e.Photo}" alt="Fadeout">
                                                    </div>
                                                    <div class="wrapper">
                                                        <h3 class="product-name"><a href="/product-detail/${e.ID}">${e.Name}</a></h3>
                                                        <span>$</span>
                                                        ${e.Price}
                                                    </div>
                                                </div>`
                    $('#product-item').append(product_item_html);
                    })
                }
            })
            $('#total_products_view').html((page>2)?`28`:`${page*12}`)
        })

    })
</script>
</body>
</html>