<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RichfieldChairs | Clean & Furniture </title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="font/css/all.css">
    <link rel="stylesheet" href="libs/owlcarousel2/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owlcarousel2/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="libs/owlcarousel2/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

<div class="container-fluid main">
    <nav id="navbarpage" class="navbar navbar-default navbar-expand-lg">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="imgs/logoblack.png" alt=""></a>
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="navbar-toggler-icon"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/product">Shop</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/category/1">DINING</a></li>
                        <li><a href="/category/2">SOFA</a></li>
                        <li><a href="/category/3">LIVINGROOM</a></li>
                        <li><a href="/category/4">MEETING</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form-wrapper">
                    <form action="/search" method="get" class="navbar-form form-inline navbar-right">
                        <div class="input-group search-box">
                            <input name="search" type="text" id="search" class="form-control" placeholder="Search Here...">
                            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                        </div>
                    </form>
                </li>
                <li><a href="#"><i class="far fa-user"></i></a></li>
                <li id="cart__icon">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                    <span id="cart__icon__item">
                        <%= session.cart.totalItems %>
                    </span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="slider">
        <div class="slide_viewer">
            <div class="slide_group">
                <div class="slide">
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="title">
                                    <h1>Chairs You'll Love in 2020</h1>
                                </div>
                                <div class="par">
                                    <p>Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit? </p>
                                </div>
                                <div class="btns">
                                    <a href="/product"><button class='btns_more'> SHOP NOW </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="container_outer_img imgslide1">
                            <div class="img-inner">
                                <img src='https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/05/furniture1-lamp.png'  alt="" class="container_img"/>
                            </div>
                        </div>
                    </div>
                    <div id="overlay1" class="overlay"></div>
                </div>
                <div class="slide">
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="title">
                                    <h1>Chairs You'll Love in 2020</h1>
                                </div>
                                <div class="par">
                                    <p>Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit? </p>
                                </div>
                                <div class="btns">
                                    <a href="/product"><button class='btns_more'> SHOP NOW </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="container_outer_img imgslide2">
                            <div class="img-inner">
                                <img src='https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/05/furniture1-sofa.png'  alt="" class="container_img"/>
                            </div>
                        </div>
                    </div>
                    <div id="overlay2" class="overlay"></div>
                </div>
                <div class="slide">
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="title">
                                    <h1>Chairs You'll Love in 2020</h1>
                                </div>
                                <div class="par">
                                    <p>Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit? </p>
                                </div>
                                <div class="btns">
                                    <a href="/product"><button class='btns_more'> SHOP NOW </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="container_outer_img imgslide3">
                            <div class="img-inner">
                                <img src='https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/05/furniture1-chair.png'  alt="" class="container_img"/>
                            </div>
                        </div>
                    </div>
                    <div id="overlay3" class="overlay"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="directional_nav">
        <div class="previous_btn" title="Previous">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="next_btn" title="Next">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</div>
<div id="tab_product" class="col-12 text-center">
    <h3>NEW PRODUCTS</h3>
    <ul id="tab_product_link" class="nav" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">LIVINGROOM</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">SORA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">DINING</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="three-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">MEETING</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent_product">
        <div class="tab-pane fade in active" id="one" role="tabpanel" aria-labelledby="one-tab">
            <div class="tabpanel_contents">
                <% livingProducts.map(e => {%>
                    <div class="item col-sm-3 col-md-3 col-lg-3">
                        <div class="product-item">
                            <div class="product-item-thumbnail">
                                <a href="#">
                                    <img src="/<%= e.Photo %>"/>
                                </a>
                                <div >
                                    <!-- Modal -->
                                    <div id="myModal<%= e.ID %>" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
    
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body row">
                                                    <div class="modal_content col-12 col-lg-6">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        <span class="bg ">EXCLUSIVE</span>
                                                        <p class="modal_content_title animate__animated animate__fadeInLeftBig"><%= e.Name %></p>
                                                        <p class="animate__animated animate__fadeInLeftBig"><%= e.Description %></p>
                                                        <p class="modal_content_des animate__animated animate__fadeInLeftBig">SKU:<%= e.SKU %></p>
                                                        <div class="button_modal animate__animated animate__fadeInLeftBig">
                                                            <a href="#">$ 115</a><a class="cart-btn" href="/add/<%= e.ID %>"><i class="fas fa-shopping-cart"></i>  ADD TO CART</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal_img col-12 col-lg-6"> <img class="animate__animated animate__fadeInRightBig" src="<%= e.Photo %>"/> </div>
    
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="product-group-button four-button">
                                    <div class="button-in quickshop">
                                        <a data-toggle="modal" data-target="#myModal<%= e.ID %>">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>Quick view</span>
                                        </a>
                                    </div>
                                    <div class="button-in loop-add-to-cart">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="#">Modern Bedroom Storage</a></h3>
                            <div class="price">
                                <span>$499.00</span>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
        <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
            <div class="tabpanel_contents">
                <% sofa4Products.map(e => {%>
                    <div class="item col-sm-3 col-md-3 col-lg-3">
                        <div class="product-item">
                            <div class="product-item-thumbnail">
                                <a href="#">
                                    <img src="/<%= e.Photo %>"/>
                                </a>
                                <div >
                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
    
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body row">
                                                    <div class="modal_content col-12 col-lg-6">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        <span class="bg ">EXCLUSIVE</span>
                                                        <p class="modal_content_title animate__animated animate__fadeInLeftBig">baseball chair</p>
                                                        <p class="animate__animated animate__fadeInLeftBig">Shadow your real allegiance to New York's Pirate radio with this cool cap featuring the Graphic Know Wave logo.</p>
                                                        <p class="modal_content_des animate__animated animate__fadeInLeftBig">SKU:SF-008</p> 
                                                        <div class="button_modal animate__animated animate__fadeInLeftBig">
                                                            <a href="#">$ 115</a><a class="cart-btn" href="#"><i class="fas fa-shopping-cart"></i>  ADD TO CART</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal_img col-12 col-lg-6"> <img class="animate__animated animate__fadeInRightBig" src="https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/06/46-410x492.jpg"/> </div>
    
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="product-group-button four-button">
                                    <div class="button-in quickshop">
                                        <a data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>Quick view</span>
                                        </a>
                                    </div>
                                    <div class="button-in loop-add-to-cart">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="#">Modern Bedroom Storage</a></h3>
                            <div class="price">
                                <span>$499.00</span>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
        <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
            <div class="tabpanel_contents">
                <% diningProducts.map(e => {%>
                    <div class="item col-sm-3 col-md-3 col-lg-3">
                        <div class="product-item">
                            <div class="product-item-thumbnail">
                                <a href="#">
                                    <img src="/<%= e.Photo %>"/>
                                </a>
                                <div >
                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
    
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body row">
                                                    <div class="modal_content col-12 col-lg-6">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        <span class="bg ">EXCLUSIVE</span>
                                                        <p class="modal_content_title animate__animated animate__fadeInLeftBig">baseball chair</p>
                                                        <p class="animate__animated animate__fadeInLeftBig">Shadow your real allegiance to New York's Pirate radio with this cool cap featuring the Graphic Know Wave logo.</p>
                                                        <p class="modal_content_des animate__animated animate__fadeInLeftBig">SKU:SF-008</p> 
                                                        <div class="button_modal animate__animated animate__fadeInLeftBig">
                                                            <a href="#">$ 115</a><a class="cart-btn" href="#"><i class="fas fa-shopping-cart"></i>  ADD TO CART</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal_img col-12 col-lg-6"> <img class="animate__animated animate__fadeInRightBig" src="https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/06/46-410x492.jpg"/> </div>
    
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="product-group-button four-button">
                                    <div class="button-in quickshop">
                                        <a data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>Quick view</span>
                                        </a>
                                    </div>
                                    <div class="button-in loop-add-to-cart">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="#">Modern Bedroom Storage</a></h3>
                            <div class="price">
                                <span>$499.00</span>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
        <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
            <div class="tabpanel_contents">
                <% meetingProducts.map(e => {%>
                    <div class="item col-sm-3 col-md-3 col-lg-3">
                        <div class="product-item">
                            <div class="product-item-thumbnail">
                                <a href="#">
                                    <img src="/<%= e.Photo %>"/>
                                </a>
                                <div >
                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
    
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-body row">
                                                    <div class="modal_content col-12 col-lg-6">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        <span class="bg ">EXCLUSIVE</span>
                                                        <p class="modal_content_title animate__animated animate__fadeInLeftBig">baseball chair</p>
                                                        <p class="animate__animated animate__fadeInLeftBig">Shadow your real allegiance to New York's Pirate radio with this cool cap featuring the Graphic Know Wave logo.</p>
                                                        <p class="modal_content_des animate__animated animate__fadeInLeftBig">SKU:SF-008</p> 
                                                        <div class="button_modal animate__animated animate__fadeInLeftBig">
                                                            <a href="#">$ 115</a><a class="cart-btn" href="#"><i class="fas fa-shopping-cart"></i>  ADD TO CART</a>
                                                        </div>
                                                    </div>
                                                    <div class="modal_img col-12 col-lg-6"> <img class="animate__animated animate__fadeInRightBig" src="https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/06/46-410x492.jpg"/> </div>
    
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="product-group-button four-button">
                                    <div class="button-in quickshop">
                                        <a data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>Quick view</span>
                                        </a>
                                    </div>
                                    <div class="button-in loop-add-to-cart">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span>Add to cart</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h3><a href="#">Modern Bedroom Storage</a></h3>
                            <div class="price">
                                <span>$499.00</span>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
    </div>
</div>
<div id="tab_categories">
    <h3 class="text-center">CATEGORIES</h3>
    <div class="row">
        <div class="col-md-4">
            <!-- Tabs nav -->
            <div  class="nav nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link mb-3 p-3 shadow active"  data-toggle="pill" href="#etab-p1"  role="tab" data-target="#etab-p1, #etabi-img1" aria-selected="true">
                    <i class="fas fa-palette"></i>
                    <span class="font-weight-bold small">COLOR</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#etab-p2" role="tab" data-target="#etab-p2, #etabi-img2" aria-selected="false">
                    <i class="fas fa-couch"></i>
                    <span class="font-weight-bold small">SOFA</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#etab-p3"  role="tab" data-target="#etab-p3, #etabi-img3" aria-selected="false">
                    <i class="fas fa-chair"></i>
                    <span class="font-weight-bold small">BLACK</span>
                </a>
                <a class="nav-link mb-3 p-3 shadow" data-toggle="pill" href="#etab-p4" d role="tab" data-target="#etab-p4, #etabi-img4" aria-selected="false">
                    <i class="fas fa-holly-berry"></i>
                    <span class="font-weight-bold small">DECORE</span>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <!-- Tabs content -->
            <div class="tab-content" id="v-pills-tabContent1">
                <div class="tab-pane fade in active " id="etab-p1"  role="tabpanel">
                    <img src="imgs/bluebackground1.jpg" alt="">
                </div>
                <div class="tab-pane fade " id="etab-p2" role="tabpanel">
                    <img src="https://demo.theme-sky.com/drile/wp-content/uploads/2020/06/banner-vertical-table.jpg" alt="">
                </div>
                <div class="tab-pane fade " id="etab-p3" role="tabpanel">
                    <img src="https://demo.theme-sky.com/drile/wp-content/uploads/2020/06/banner-vertical-sofa.jpg" alt="">
                </div>
                <div class="tab-pane fade " id="etab-p4" role="tabpanel">
                    <img src="https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/06/banner-vertical-lamp2.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Tabs content 2 -->
        <div class="col-md-12">
            <div class="tab-content" id="v-pills-tabContent2">
                <div class="tab-pane fade in active" id="etabi-img1" role="tabpanel">
                    <div class="row row3">
                        <div class="col-xs-12">
                            <div class="related-products">
                                <div class="related-product-carousel owl-carousel owl-theme">
                                    <% colorProducts.map(e => { %>
                                        <div class="item">
                                            <div class="product-item">
                                                <div class="product-item-thumbnail">
                                                    <a href="/product-detail/<%= e.ID %>">
                                                        <img src="<%= e.Photo %>"/>
                                                    </a>
                                                    <div class="product-group-button four-button">
                                                        <div class="button-in quickshop">
                                                            <a href="#">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span>Quick view</span>
                                                            </a>
                                                        </div>
                                                        <div class="button-in loop-add-to-cart">
                                                            <a href="#">
                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3><a href="/product-detail/<%= e.ID %>"><%= e.Name %></a></h3>
                                                <div class="price">
                                                    <span>$79.00</span>
                                                    -
                                                    <span>$499.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="etabi-img2" role="tabpanel">
                    <div class="row row3">
                        <div class="col-xs-12">
                            <div class="related-products">
                                <div class="related-product-carousel owl-carousel owl-theme">
                                    <% sofaProducts.map(e => { %>
                                        <div class="item">
                                            <div class="product-item">
                                                <div class="product-item-thumbnail">
                                                    <a href="/product-detail/<%= e.ID %>">
                                                        <img src="<%= e.Photo %>"/>
                                                    </a>
                                                    <div class="product-group-button four-button">
                                                        <div class="button-in quickshop">
                                                            <a href="#">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span>Quick view</span>
                                                            </a>
                                                        </div>
                                                        <div class="button-in loop-add-to-cart">
                                                            <a href="#">
                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3><a href="/product-detail/<%= e.ID %>"><%= e.Name %></a></h3>
                                                <div class="price">
                                                    <span>$79.00</span>
                                                    -
                                                    <span>$499.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="etabi-img3" role="tabpanel">
                    <div class="row row3">
                        <div class="col-xs-12">
                            <div class="related-products">
                                <div class="related-product-carousel owl-carousel owl-theme">
                                    <% blackProducts.map(e => { %>
                                        <div class="item">
                                            <div class="product-item">
                                                <div class="product-item-thumbnail">
                                                    <a href="/product-detail/<%= e.ID %>">
                                                        <img src="<%= e.Photo %>"/>
                                                    </a>
                                                    

                                                    <div class="product-group-button four-button">
                                                        <div class="button-in quickshop">
                                                            <a data-toggle="modal" data-target="#myModal<%= e.ID %>" data-backdrop="false">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                            <span>Quick view</span>
                                                            </a>
                                                        </div>
                                                        <div class="button-in loop-add-to-cart">
                                                            <a href="/product-detail/<%= e.ID %>">
                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- Modal -->
                                                    <div id="myModal<%= e.ID %>" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-body row">
                                                                    <div class="modal_content col-12 col-lg-6">
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                                        <span class="bg ">EXCLUSIVE</span>
                                                                        <p class="modal_content_title animate__animated animate__fadeInLeftBig"><%= e.Name%></p>
                                                                        <p class="animate__animated animate__fadeInLeftBig">Shadow your real allegiance to New York's Pirate radio with this cool cap featuring the Graphic Know Wave logo.</p>
                                                                        <p class="modal_content_des animate__animated animate__fadeInLeftBig">SKU:SF-008</p> 
                                                                        <div class="button_modal animate__animated animate__fadeInLeftBig">
                                                                            <a href="#">$ 115</a><a class="cart-btn" href="#"><i class="fas fa-shopping-cart"></i>  ADD TO CART</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal_img col-12 col-lg-6"> <img class="animate__animated animate__fadeInRightBig" src="imgs/07_2-410x492.jpg"/> </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <h3><a href="/product-detail/<%= e.ID %>"><%= e.Name %></a></h3>
                                                <div class="price">
                                                    <span>$79.00</span>
                                                    -
                                                    <span>$499.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="etabi-img4" role="tabpanel">
                    <div class="row row3">
                        <div class="col-xs-12">
                            <div class="related-products">
                                <div class="related-product-carousel owl-carousel owl-theme">
                                    <% colorProducts.map(e => { %>
                                        <div class="item">
                                            <div class="product-item">
                                                <div class="product-item-thumbnail">
                                                    <a href="/product-detail/<%= e.ID %>">
                                                        <img src="<%= e.Photo %>"/>
                                                    </a>
                                                    <div class="product-group-button four-button">
                                                        <div class="button-in quickshop">
                                                            <a href="/product-detail/<%= e.ID %>">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span>Quick view</span>
                                                            </a>
                                                        </div>
                                                        <div class="button-in loop-add-to-cart">
                                                            <a href="#">
                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                <span>Add to cart</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3><a href="/product-detail/<%= e.ID %>"><%= e.Name %></a></h3>
                                                <div class="price">
                                                    <span>$79.00</span>
                                                    -
                                                    <span>$499.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<section id="baner_discount">
    <div id="baner_img">
        <div>
            <img src="https://drile-be87.kxcdn.com/drile/wp-content/uploads/2020/03/banner-sale-off.jpg" alt="">
        </div>
    </div>
    <div id="baner_content">
        <div class="discount">-50%</div>
        <h6>WINDSOR CHAIRS FOR SALE</h6><h2 class="h1">SALE ENDS IN 1 DAY</h2>
        <div class="btns">
            <button class='btns_more'>SHOP NOW</button>
        </div>
    </div>
</section>
<section id="brand-cooperation">
    <div id="title-category">
        <h3>brand cooperation</h3>
    </div>
    <div id="category-logo">
        <div>
            <a href="/brand/1"><img src="imgs/category1.png" alt=""></a>
        </div>
        <div>
            <a href="/brand/2"><img src="imgs/category2.png" alt=""></a>
        </div>
        <div>
            <a href="/brand/3"><img src="imgs/category3.png" alt=""></a>
        </div>
        <div>
            <a href="/brand/4"><img src="imgs/category4.png" alt=""></a>
        </div>
        <div>
            <a href="/brand/5"><img src="imgs/category5.png" alt=""></a>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="card mx-5">
            <div class="row mb-4 " id="footer-content">
                <div class="col-md-4">
                    <div class="footer-text pull-left">
                        <div id="footer_brand">
                            <img src="imgs/logowhite.png" alt="">
                        </div>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker "></i>
                                <span>The Avenue, United of Kingdom</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <span>themesky@gmail.com</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>(+00) 025-1234-5678</span>
                            </li>
                        </ul>
                        <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
                    </div>
                </div>
                <div class="col-md-4" id="footer_row2">
                    <ul>
                        <li>About Us</li>
                        <li>Delivery Info</li>
                        <li>Order Tracking</li>
                        <li>My Account</li>
                        <li>Help</li>
                    </ul>
                </div>
                <div class="col-md-4" id="footer_row3">
                    <h2 class="heading">NEWSLETTER</h2>
                    <p>Enjoy our newsletter to stay updated with the latest news and special sales.</p>
                    <form>
                        <div class="input-group email-box">
                            <input type="text" id="email" class="form-control" placeholder="Enter your email address">
                            <span class="input-group-addon"><i class="far fa-paper-plane"></i></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="divider mb-4"> </div>
            <div class="row" style="font-size:10px;">
                <div class="col-md-6">
                    <div class="pull-left">
                        <p><i class="fa fa-copyright"></i> 2020 thezpdesign</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<script src="js/home.js"></script>
</body>
</html>