<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/libs/Bootstrap3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/owl.carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/libs/owl.carousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/css/Allproduct.css">
    <link rel="stylesheet" href="/libs/icon/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div id="heading">
            <h1 class="heading-title"></h1>
        </div>
        <div class="product">
            <div class="nav-bar">
                <div id="zoom-in-out">
                    <a href="#">Zoom in</a>
                    <i class="fas fa-search-minus"></i>
                </div>
                <div id="myNavbar">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Dining Chair</a></li>
                                <li><a href="#">Sofa</a></li>
                                <li><a href="#">Meeting Chair</a></li>
                                <li><a href="#">Living Room</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Brand
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Cosm</a></li>
                                <li><a href="#">Amia</a></li>
                                <li><a href="#">Liberty</a></li>
                                <li><a href="#">Mirra 5</a></li>
                                <li><a href="#">Leap</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button class=" btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Sort by Price
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">From Low To High</a></li>
                                <li><a href="#">From High To Low</a></li>
                            </ul>
                        </li>
                    </ul>
    >>>>>>> 5d7cb960df6333bf5d3c8472e1f6d8eed5c7b87c
                </div>
                <div class="all-products">
                    <div class="row">
                        <% products.map(e => { %>
                            <div class="product-type col-sm-3 col-md-3 col-lg-3">
                                <div class="img">
                                    <img src="/<%= e.Photo %>" alt="Fadeout">
                                </div>
                                <div class="wrapper">
                                    <h3 class="product-name"><a href="/product-detail/<%= e.ID %>"><%= e.Name %></a></h3>
                                    <span>$</span>
                                    <%= e.Price %>
                                </div>
                            </div>
                        <% })%>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('footer') %>


<script type="text/javascript" src="JS/jQuery.js"></script>
<script src="libs/owl.carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation :false,// Show next and prev buttons
            paginationSpeed : 200,
            autoPlay:true,
            items : 4,
            itemsDesktop :[1000,5],
            itemsDesktopSmall :[979,3],
            itemsTablet:[768,2],
            itemsMobile :[479,1],
            pagination: false,
        });
    });
    $('#loadMore').click( function() {
        var ajaxLimit = 5;
        $.ajax({
            url: '/product',
            method: 'GET',
            data: {ajaxLimit: ajaxLimit},
            success: function () {
                console.log("limit changed")
            }
        });
    });

</script>
</body>
</html>